@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e9e4e4;
    height: 100vh;
}

section {
    width: 500px;
    margin: 50px auto 0;
    background: rgb(255, 255, 255);
    box-shadow: rgba(201, 199, 199, 0.8);
    border-radius: 5px;
    padding: 20px;

    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #333333;
}

.nao-lidos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 20px;

}

#numero {
    color: #FFFFFF;
    background: #402ba9;
    border-radius: 5px;

    padding: 4px;
}

.read {
    text-decoration: none;
}

.cards {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 12px;
    width: 100%;
    margin-bottom: 5px;
    height: 50px;
    border-radius: 4px;
}

.card-mensagem {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: start;

    font-size: 12px;
    width: 100%;
    margin-bottom: 5px;
    height: 100px;
    border-radius: 4px;
}

.mensagem-privada {
    border: 1px solid #e9e4e4;
    border-radius: 4px;
    width: 366px;
    margin-left: 60px;
    padding: 10px;

}

p a {
    font-weight: bolder;
    color: #2e2e82;
    text-decoration: none;
}


.imagem-perfil {
    width: 30px;
    height: 30px;

    margin-left: 10px;
}

.imagem-xadrex {
    width: 30px;
    height: 30px;
    position: relative;
    left: 90px;
}

footer {
    height: 50px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: rgb(137, 47, 222);
}